<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    

    <title>home</title>
    <style>
        .card {
            padding: 5px;
            height: 250px;

        }
        
        .content {
            word-wrap: anywhere;
            height: 100px;
            display: flex;
            overflow-y: auto;
            flex-direction: column;
        }

        .center {
                text-align: center;
            }
    </style>
    <script>
        $(document).ready(function () {
            $("#app").html("");
            tempHtml = `<div v-for="card in cardData" key="card.id" class="column is-4">
                    <div class="card large">
                        <div class="card-content">
                            <div class="title" id="my_name">@{{session['name']}}</div>
                            <div class="field">
                                <div class="control">
                                    <input class="input" id="my_memo" type="text" placeholder="내용">
                                </div>
                            </div>
                            <div class="button" onclick="postMemo()"> 업로드 </div>
                            <div class="content" id="my_date">${getDate()}</div>
                        </div>
                    </div>
                </div>`
            $("#app").append(tempHtml);
            showMemos();
        });

        function getDate() {
            let today = new Date();
            let year = today.getFullYear();
            let month = today.getMonth();
            let date = ("00"+today.getDate()).slice(-2);
            let hours = ("00"+today.getHours()).slice(-2);
            let minutes = ("00"+today.getMinutes()).slice(-2);
            let now = year + '/' + month + '/' + date + ' ' + hours + ":" + minutes;
            return now
        }

        function postMemo() {
            let name = $("#my_name").text().replace("@", "");
            let memo = $("#my_memo").val();
            let date = getDate();
            console.log(name);

            $.ajax({
                type: "POST",
                url: "/home",
                data: { id_give: name, memo_give: memo, date_give : date },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert("저장 완료!");
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function showMemos() {
            $.ajax({
                type: "GET",
                url: "/home",
                data: {},
                success: function (response) {
                    let memos = response["memos"];
                    console.log(memos);
                    for (let i = memos.length-1; i >= 0; i--) {
                        let tempHtml = `<div v-for="card in cardData" key="card.id" class="column is-4">
                    <div class="card large">
                        <div class="card-content">
                            <div class="title">@${memos[i]['id']}</div>
                            <div class="content is-multiline">${memos[i]['memo']}</div>
                            <div class="content_date is-pulled-right">${memos[i]['date']}</div>
                        </div>
                    </div>
                </div>`
                        $("#app").append(tempHtml);
                    }
                }
            })
        }

    </script>
</head>

<body>
    <section class="hero is-warning">
        <div class="hero-body">
            <div class="container center">
                <h1 class="title">
                    정글 불만 게시판😆
                </h1>
                <h2 class="subtitle">
                    비밀 보장 해드립니다
                </h2>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="section">
            <div id="app" class="row columns is-multiline">
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong> 9조짱ㅎㅎ </strong>
                </p>
            </div>
        </div>
    </footer>


</body>

</html>